.bingeWorthy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bingeWorthy .elementsOfCarousel {
    margin-top: 30px;
    width: auto;
    height: 370px;
    padding-right: 10px ;
}

.bingeWorthy .audioPodcast,
.bingeWorthy .videoPodcast {
    /* background: red; */
    width: 311.05px;
    height: 339.68px;
    background: #303030;
    border-radius: 10.4167px;
}

.bingeWorthy .audioImage img,
.bingeWorthy .videoImage img {
    width: 311.05px;
    height: 147.21px;
}

.bingeWorthy .audioCard,
.bingeWorthy .videoCard {
    background-color: transparent;
    width: auto;
}

.bingeWorthy .audioText,
.bingeWorthy .videoText {
    width: 286.41px;
    height: 170.91px;
    margin-top: 9.24px;
    margin-left: 12.34px;
}

.bingeWorthy .audioCategory,
.bingeWorthy .videoCategory {
    width: 132px;
    height: 12px;
    font-size: 9.85507px;
    line-height: 12px;
}

.bingeWorthy .audioHeading,
.bingeWorthy .videoHeading {
    margin-top: 6.48px;
    width: 286.41px;
    height: 72px;
    font-size: 19.7101px;
    line-height: 24px;
}

.bingeWorthy .audioHeadingText,
.bingeWorthy .videoHeadingText {
    width: 233.44px;
}

.bingeWorthy .audioSubheading,
.bingeWorthy .videoSubheading {
    width: 286.41px;
    height: 42px;
    font-size: 9.85507px;
    line-height: 140%;
    margin-top: 6.46px;
}

.bingeWorthy .audioPodcastCreator,
.bingeWorthy .videoPodcastCreator {
    width: 286.41px;
    height: 21.86px;
    margin-top: 10.12px;
    gap: 0px;
}

.bingeWorthy .creatorName,
.bingeWorthy .creatorName {
    width: 148.49px;
    height: 21.86px;
    font-size: 9.85507px;
    line-height: 12px;
    margin-left: 9.85px;
}

.bingeWorthy .creatorName svg,
.bingeWorthy .creatorName svg {
    width: 9.86px;
    height: 9.86px;
    margin-right: 4.93px;
    /* margin-left: ; */
}

.bingeWorthy .creatorTime,
.bingeWorthy .creatorTime {
    width: 60px;
    height: 12px;
    font-size: 9.85507px;
    line-height: 12px;
}

.bingeWorthy .audioLogo {
    width: 41.27px;
    height: 41.27px;
    margin-left: 11.7px;
}

.bingeWorthy .audioLogo svg {
    width: 41.27px;
    height: 41.27px;
}