.HomeHeader {
    display: flex;
    align-items: bottom;
    /* justify-content: space-around; */
    /* position: absolute; */
    width: 80%;
    height: 32.215%;
    margin: 0 auto;
    /* margin-left: 4.86%; */
    /* margin-top: 5.14%; */
    background: none;
}

.headerText {
    width: 49.231%;
    height: 92.348%;
    margin-top: 10%;
}

.headingText {
    /* position: absolute; */
    /* width: 640px;
    height: 414px;
    left: 70px;
    top: 220.1px; */
    width: 100%;
    height: 77.789%;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 78.782px;
    line-height: 82px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    color: #FFFFFF;
    background: none;
}

.headerButton {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 25.11px;
    /* position: absolute; */
    width: 78.199%;
    height: 10.544%;
    margin-top: 9.704%;
    background: none;
}

.explorePodcastButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 12.5564px 0px; */
    /* gap: 10.05px;
    width: 212px;
    height: 56.11px; */
    gap: 10.05px;
    width: 42.361%;
    /* border-radius: 92.9173px; */
    background: none;
}

.explorePodcastButton button {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25.1128px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /* margin-top: 10px; */
    color: #FFFFFF;
    background: none;
}

.startListeningButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 12.5564px 40.1805px; */
    /* gap: 10.05px;
    width: 263.36px;
    height: 56.11px; */
    gap: 10.05px;
    width: 52.624%;
    background: none;
}

.startListeningButton button {
    background: #FF9800;
    padding: 10px 32px;
    border-radius: 74px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25.1128px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #303030;
}

.headerImage {
    /* position: relative; */
    margin-left: 9.8507%;
    width: 50%;
    height: 94.58%;
    background: none;
}

.headerImage img {
    /* position: relative; */
    width: 100%;
    height: auto;
}

.blue {
    color: #00BCD4;
}

.yellow {
    color: #FF9800;
}

.no-flex {
    display: block;
}