.HomeHeader{
    display: flex;
    position: absolute;
    width: 1300px;
    height: 576.32px;
    left: 70px;
    top: 176px;
    background: none;
    
}

.headingText{
    /* position: absolute; */
    width: 640px;
    height: 414px;
    left: 70px;
    top: 220.1px;

    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 78.782px;
    line-height: 82px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;

    color: #FFFFFF;
    background: none;
}

.headerButton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25.11px;

    /* position: absolute; */
    width: 500.47px;
    height: 56.11px;
    left: 70px;
    top: 696.2px;

    background: none;
}

.explorePodcastButton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 12.5564px 0px; */
    gap: 10.05px;
    width: 212px;
    height: 56.11px;

    /* border-radius: 92.9173px; */
    background: none;
}

.explorePodcastButton button{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25.1128px;
    line-height: 31px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    margin-top: 10px;

    /* text */

    color: #FFFFFF;
    background: none;
}

.startListeningButton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 12.5564px 40.1805px; */
    gap: 10.05px;

    width: 263.36px;
    height: 56.11px;

    /* primary */

    /* background: #FF9800; */
    /* border-radius: 92.9173px; */
    background: none;
}

.startListeningButton button{
    background: #FF9800;
    padding: 10px 32px;
    border-radius: 74px;
    border:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25.1128px;
    line-height: 31px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* background */

    color: #303030;
}

.headerImage{
    /* position: relative; */
    left: 838.06px;
    top: 176px;
    background: none;
}

.headerImage img{
    /* position: relative; */
    width: 531.94px;
    height: 545.08px;
    left: 838.06px;
    top: 176px;
    background: none;
}