.NavBar{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* gap: 791px; */

    /* position: absolute; */
    /* width: 1300px;
    height: 44px; */
    width: 90.27%;
    height: 2.45%;
    margin-left: 4.86%;
    padding-top: 2.23%;

}

img{
    width: 199px;
    height: 39px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 19.29px;

    width: 385.29px;
    height: 25px;
    border-bottom: #FFFFFF 1px solid;
}

.search input{
    background-color: transparent;
    border: none;
    width:456.43px;
    /* border-bottom: #FFFFFF; */
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 221px;
    height: 44px;
}

.loginNav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 8px;
    /* background-color: transparent; */
    width: 55px;
    height: 44px;

    /* border-radius: 74px; */
}

.loginNav button{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* text */

    color: #FFFFFF;
    cursor: pointer;
    /* text-decoration: none; */
}

a{
    text-decoration: none;
}

.signup{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 10px 32px; */
    gap: 8px;

    width: 136px;
    height: 44px;

    /* primary */

    /* background: #FF9800; */
    /* border-radius: 74px; */
}

.signup button{
    background: #FF9800;
    padding: 10px 32px;
    border-radius: 74px;
    border:none;
    /* width: 72px; */
    /* height: 24px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

/* background */

    cursor: pointer;
    color: #303030;
}