.sidebar {
    background: linear-gradient(40.29deg, rgba(48, 48, 48, 0) 54.93%, #303030 209.29%);
    width: 200px;
    height: 1199px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 24px 24px 24px 70px;
    gap: 25px;
}

.sidebar a {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.sidebar a:hover,
.sidebar a:active {
    color: #FF9800;
    ;
}