.flex {
    padding-top: 100px;
    display: flex;
    gap: 30px;
}

.nowPlayingHeader{
    width: 414px;
    height: 39px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    /* margin-left: 30px; */
    color: #FF9800;
}

#BW{
    margin-top: 40px;
}

.formHeading{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #00BCD4;
    }