.dashboardPodcast{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 100vw; */
}

.dashboardPodcast .elementsOfCarousel {
    margin-top: 30px;
    width: auto;
    height: 370px;
    padding-right: 10px ;
    /* display: flex; */
    /* flex-direction: row; */
}

.dashboardPodcast .audioPodcast,
.dashboardPodcast .videoPodcast {
    /* background: red; */
    width: 311.05px;
    height: 339.68px;
    background: #303030;
    border-radius: 10.4167px;
}

.dashboardPodcast .audioImage img,
.dashboardPodcast .videoImage img {
    width: 311.05px;
    height: 147.21px;
}

.dashboardPodcast .audioCard,
.dashboardPodcast .videoCard {
    background-color: transparent;
    width: auto;
}

.dashboardPodcast .audioText,
.dashboardPodcast .videoText {
    width: 286.41px;
    height: 170.91px;
    margin-top: 9.24px;
    margin-left: 12.34px;
}

.dashboardPodcast .audioCategory,
.dashboardPodcast .videoCategory {
    width: 132px;
    height: 12px;
    font-size: 9.85507px;
    line-height: 12px;
}

.dashboardPodcast .audioHeading,
.dashboardPodcast .videoHeading {
    margin-top: 6.48px;
    width: 286.41px;
    height: 72px;
    font-size: 19.7101px;
    line-height: 24px;
}

.dashboardPodcast .audioHeadingText,
.dashboardPodcast .videoHeadingText {
    width: 233.44px;
}

.dashboardPodcast .audioSubheading,
.dashboardPodcast .videoSubheading {
    width: 286.41px;
    height: 42px;
    font-size: 9.85507px;
    line-height: 140%;
    margin-top: 6.46px;
}

.dashboardPodcast .audioPodcastCreator,
.dashboardPodcast .videoPodcastCreator {
    width: 286.41px;
    height: 21.86px;
    margin-top: 10.12px;
    gap: 0px;
}

.dashboardPodcast .creatorName,
.dashboardPodcast .creatorName {
    width: 148.49px;
    height: 21.86px;
    font-size: 9.85507px;
    line-height: 12px;
    margin-left: 9.85px;
}

.dashboardPodcast .creatorName svg,
.dashboardPodcast .creatorName svg {
    width: 9.86px;
    height: 9.86px;
    margin-right: 4.93px;
    /* margin-left: ; */
}

.dashboardPodcast .creatorTime,
.dashboardPodcast .creatorTime {
    width: 60px;
    height: 12px;
    font-size: 9.85507px;
    line-height: 12px;
}

.dashboardPodcast .audioLogo {
    width: 41.27px;
    height: 41.27px;
    margin-left: 11.7px;
}

.dashboardPodcast .audioLogo svg {
    width: 41.27px;
    height: 41.27px;
}